header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  
    
    
}

.logoAika {
    width: 150px;
    border-radius: 80px;
    border: solid rgb(112, 19, 112);
}

li {
    display: inline-block;
    margin: 0 15px;
    text-transform: uppercase;
    font-weight: bold;
   
}